[submodule "inc/Eigen"]
	path = inc/Eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.3
[submodule "inc/SimpleIni"]
	path = inc/SimpleIni
	url = https://github.com/brofield/simpleini.git
